<div class="container">
    <h1>Welcome to my password-protected images website!!! Whoohooo!</h1>
    <div class="col-md-6 offset-md-3 jumbotron">
        <form method="post" action="/home/upload" enctype="multipart/form-data">
            <input type="file" name="image" placeholder="select image" class="form-control" />
            <div class="row">
                <h4>Please enter the password for this image:</h4>
                <input type="password" class="form-control" placeholder="Input your TOP-SECRET CONFIDENTIAL Password" name="password" />
                <br />
                <button class="btn btn-primary">Submit</button>

            </div>
        </form>
    </div>
</div>