@model ImageViewModel
@if (Model.CheckForPassword)
{
    <div class="row">
        <div class="col-md-6 offset-md-3 jumbotron">
            <h4>Please enter the password for this image:</h4>
            <form method="post" action="/home/viewimage">
                @if (!String.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <h1 class="alert-danger">@Model.ErrorMessage</h1>
                }
                <input type="hidden" name="id" value="@Model.Id" />
                <input type="text" class="form-control" placeholder="Password" name="password" />
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
}
else
{
    <div class="row">
            <img src="/uploads/@Model.ImagePath" style="width: 700px;" />
            <h1 style="color:green">Views: @Model.ImageViewCount</h1>
    </div>
}